.movie{
    /* border: 1px solid bisque; */
    
    
}
.movie img{
    width: 250px;
    height: 420px
}
.btn-cart{
    width: 100%;
    background-color:darksalmon ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-cart:hover{
    background-color: rgb(59, 187, 59);
}
.btn-text{
    margin: 10px;
}

